@model House

@{
	ViewData["Title"] = "Details";
}

<div class="details-container">
	<div class="slideshow">
		<button type="button" onclick="leftSlide()" class="slide-button"> <img src="~/assets/arrow.png" /> </button>
		<div class="slide">
			<img src="@Model.Picture" />
			<h2>Titel1</h2>
		</div>
		<div class="slide">
			<img src="https://www.rocketmortgage.com/resources-cmsassets/RocketMortgage.com/Article_Images/Large_Images/TypesOfHomes/types-of-homes-hero.jpg" />
			<h2>Titel2</h2>
		</div>
		<div class="slide">
			<img src="https://cdn.vox-cdn.com/thumbor/6itLJS9BZ-B5gXPjM1AB_z-ZKVI=/0x0:3000x2000/1200x800/filters:focal(1260x760:1740x1240)/cdn.vox-cdn.com/uploads/chorus_image/image/65890203/iStock_1067331614.7.jpg" />
			<h2>Titel3</h2>
		</div>
		<button type="button" onclick="rightSlide()" class="slide-button"> <img src="~/assets/right-arrow.png" /> </button>
	</div>

	<div class="highlight-container">
		<h1 class="address">@Model.Address</h1>
		<h2 class="cost">€@TextUtilities.BeautifyNumber(Model.Price)</h2>
		<a class="add-cart-button" href="/cart/add/@Model.Id"><img src="~/assets/cart.png" /></a>
	</div>

	<div class="main">
		<div class="description">
			<h2>Omschrijving</h2>
			<p>@Model.Description</p>
		</div>

		<div class="specifications">
			<h2>Specificaties</h2>
			<dl>
				<dt>Bouwjaar</dt>
				<dd>@Model.BuildYear A.D.</dd>
				<dt>Binnen oppervlakte</dt>
				<dd>@Model.IndoorArea m²</dd>
				<dt class="bottom">Buiten oppervlakte</dt>
				<dd class="bottom">@Model.OutdoorArea m²</dd>
			</dl>
			<h3>Toegankelijkheid</h3>
			<dl>
				<dt>Rolstoel</dt>
				@if (Model.AccessData.wheelchair)
				{
					<dd>Prima</dd>
				}
				else
				{
					<dd>Niet aan te raden</dd>
				}
				<dt>Auto</dt>
				@if (Model.AccessData.car)
				{
					<dd>Prima</dd>
				}
				else
				{
					<dd>Niet aan te raden</dd>
				}
				<dt class="bottom">Openbaar vervoer</dt>
				@if (Model.AccessData.publicTransport)
				{
					<dd class="bottom">Bereikbaar</dd>
				}
				else
				{
					<dd class="bottom">Niet handig</dd>
				}
			</dl>
			<h2 class="middle">Structuur</h2>
			@foreach (var storey in Model.Layout.storeys)
			{
				<h3>@TextUtilities.TranslateStorey(storey.level)</h3>
				<dl>
					@for (int i = 0; i < storey.rooms.Length; i++)
					{
						@if (i == storey.rooms.Length - 1)
						{
							<dt class="bottom">@TextUtilities.TranslateRoomType(storey.rooms[i].type.ToString(), true)</dt>
							<dd class="bottom">@storey.rooms[i].amount</dd>
						}
						else
						{
							<dt>@TextUtilities.TranslateRoomType(storey.rooms[i].type.ToString(), true)</dt>
							<dd>@storey.rooms[i].amount</dd>
						}
					}
				</dl>
			}
		</div>

		<iframe class="map" src="https://maps.google.com/maps?q=@Model.Address&t=k&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
	</div>
	
	<div class="highlight-container">
		<h1 class="address">@Model.Address</h1>
		<h2 class="cost">€@TextUtilities.BeautifyNumber(Model.Price)</h2>
		<a class="add-cart-button" href="/cart/add/@Model.Id"><img src="~/assets/cart.png" /></a>
	</div>
</div>

@section Scripts {
    <script>
        var slideIndex = 0;
        var slides = [];

        window.onload = function () {
            slides = document.getElementsByClassName("slide");

            setSlides();
        }

        function rightSlide() {
            slideIndex++;

            if (slideIndex >= slides.length) {
                slideIndex = 0;
            }

            setSlides();
        }

        function leftSlide() {
            slideIndex--;

            if (slideIndex < 0) {
                slideIndex = slides.length - 1;
            }

            setSlides();
        }

        function setSlides() {
            for (var i = 0; i < slides.length; i++) {
                if (i == slideIndex) {
                    slides[i].style.display = "block";
                } else {
                    slides[i].style.display = "none";
                }
            }
        }
    </script>
}