@model User

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">CONTACT</h1>
<h1>Login</h1>
<form method="post">
    first name: <input type="text" name="firstName" />
    @Html.ValidationMessageFor(m => m.FirstName)<br/>
    Last Name: <input type="text" name="lastName" />
    @Html.ValidationMessageFor(m => m.LastName)<br />
    Email Address: <input type="text" name="email" />
    @Html.ValidationMessageFor(m => m.Email)<br />
    <input type="submit" />
</form>
<p>FirstName:
@if (Model != null)
{
    <p>Welcome @Model.FirstName @Model.LastName!</p>
}
else
{
    <p>No input</p>
}