@model Contact

@{
    ViewData["Title"] = "Home Page";
}

<div class="full-form">
	<form method="post">
		<div class="row">
			<div class="one-third-cell"></div>
			<div class="one-third-cell">
				<h1>Contact</h1>
			</div>
		</div>
		<div class="row"></div>
		<div class="row">
			<div class="one-third-cell label-container">
				<label>Emailadres:</label>
			</div>
			<div class="one-third-cell">
				<input type="text" name="email" value="@Model.Email" />
			</div>
			<div class="one-third-cell">
				@Html.ValidationMessageFor(m => m.Email)
			</div>
		</div>
		<div class="row">
			<div class="one-third-cell label-container">
				<label>Naam:</label>
			</div>
			<div class="one-third-cell">
				<input type="text" name="name" value="@Model.Name" />
			</div>
			<div class="one-third-cell">
				@Html.ValidationMessageFor(m => m.Name)
			</div>
		</div>
		<div class="row text-area-row">
			<div class="one-third-cell label-container">
				<label>Bericht:</label>
			</div>
			<div class="one-third-cell">
				<textarea type="text" name="message" value="@Model.Message"></textarea>
			</div>
			<div class="one-third-cell">
				@Html.ValidationMessageFor(m => m.Message)
			</div>
		</div>
		<div class="row">
			<div class="one-third-cell"></div>
			<div class="one-third-cell">
				<input class="full-input button-input" type="submit" value="Verstuur" />
			</div>
		</div>
	</form>
</div>