@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<a href="/home/privacy">Privacy</a>
<a href="/home/contact">Contact</a>
<div>
    @if (Model.User != null)
    {
        <h1 class="display-4">Welkom, @Model.User.FirstName @Model.User.LastName, met wachtwoord: @Model.User.Password</h1>
    }
    <h1 class="display-4">Huizen in Pijnacker-Nootdorp</h1>
    <form method="post">
        <label>Zoeken:</label> <input type="text" name="search" value="Huis"><br>

        <label>Minimum: €</label><input type="number" name="minimumPrice"><br>
        <label>Maximum: €</label><input type="number" name="maximumPrice"><br><br>

        @*<label for="maximum_price">Toegankelijkheid:</label> <input type="text" id="maximum_price" name="maximum_price" value="200000"><br>
            <label for="maximum_price">Bouwjaar:</label> <input type="text" id="maximum_price" name="maximum_price" value="200000"><br><br>

            <label for="maximum_price">Oppervlakte:</label> <input type="text" id="maximum_price" name="maximum_price" value="200000"><br>
            <label for="maximum_price">Aantal kamers:</label> <input type="text" id="maximum_price" name="maximum_price" value="200000"><br><br>*@

        <input type="submit">
    </form>
    @if (Model.IsInitialized)
    {
        <h1>Search: MIN:@Model.MinimumPrice, MAX:@Model.MaximumPrice</h1>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Houses[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Houses[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Houses[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Houses[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Houses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>