@model HomeModel

@{
	ViewData["Title"] = "Home Page";
}

<form method="post" class="search-container">
	<label>Zoeken:</label> <input type="text" name="search" value="Huis"><br>

	<label>Minimum: €</label><input type="number" name="price_minimum" value="@Model.Price_Minimum"><br>
	<label>Maximum: €</label><input type="number" name="price_maximum" value="@Model.Price_Maximum"><br>

	<label>Outdoor Area:    Van: </label><input type="number" name="outdoorArea_minimum" value="@Model.OutdoorArea_Minimum">
	<label> Tot: </label><input type="number" name="outdoorArea_maximum" value="@Model.OutdoorArea_Maximum"><br>

	<input type="submit">
</form>

@if (Model.IsInitialized)
{
	<h1>Search: MIN:@Model.Price_Minimum, MAX:@Model.Price_Maximum</h1>
}

@foreach (var house in Model.Houses)
{
	<div class="house-list-element">
		<a href="/houses/@house.Id">
			<img src="@house.Picture" />
			<h2>@house.Address</h2>
			<p>€@TextUtilities.BeautifyNumber(house.Price) · @house.IndoorArea · @house.OutdoorArea · @house.Layout.storeys.Length.ToString() etages · @house.BuildYear</p>

			<p>@house.Description</p>
		</a>
	</div>
	<hr />
}