@model User

@{
    ViewData["Title"] = "Register";
}

<div class="full-form">
	<form method="post">
		<div class="row">
			<div class="one-third-cell"></div>
			<div class="one-third-cell">
				<h1>Registreer</h1>
			</div>
		</div>
		<div class="row"></div>
		<div class="row">
			<div class="one-third-cell label-container">
				<label>Voornaam:</label>
			</div>
			<div class="one-third-cell">
				<input type="text" name="firstName" value="@Model.FirstName" />
			</div>
			<div class="one-third-cell">
				@Html.ValidationMessageFor(m => m.FirstName)
			</div>
		</div>
		<div class="row">
			<div class="one-third-cell label-container">
				<label>Achternaam:</label>
			</div>
			<div class="one-third-cell">
				<input type="text" name="lastName" value="@Model.LastName" />
			</div>
			<div class="one-third-cell">
				@Html.ValidationMessageFor(m => m.LastName)
			</div>
		</div>
		<div class="row">
			<div class="one-third-cell label-container">
				<label>Emailadres:</label>
			</div>
			<div class="one-third-cell">
				<input type="email" name="email" value="@Model.Email" />
			</div>
			<div class="one-third-cell">
				@Html.ValidationMessageFor(m => m.Email)
			</div>
		</div>
		<div class="row">
			<div class="one-third-cell label-container">
				<label>Wachtwoord:</label>
			</div>
			<div class="one-third-cell">
				<input type="password" name="password" autocomplete="off" value="@Model.Password" />
			</div>
			<div class="one-third-cell">
				@Html.ValidationMessageFor(m => m.Password)
			</div>
		</div>
		<div class="row">
			<div class="one-third-cell"></div>
			<div class="one-third-cell">
				<input class="full-input button-input" type="submit" value="Registreer" />
			</div>
		</div>
	</form>
</div>